#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #0c0c0c;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}